.element__like {
  background: url(../../../images/element__like.svg) no-repeat;
  min-width: 21px;
  min-height: 19px;
  background-position: center;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.element__like:hover {
  opacity: .6;
  transition: opacity .10s ease;
}