.profile__edit-button {
  grid-area: button;
  align-self: end;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: opacity .10s ease;  
}

@media screen and (max-width: 750px) {
.profile__edit-button { 
  width: 18px;
  height: 18px;
  margin-right: 31px;
}
}