.popup__picture-image {
  max-width: 75vh;
  max-height: 75vh;
  object-fit: contain;
}

@media screen and (max-width: 450px) {
  .popup__picture-image {
    max-width: 60vh;
    max-height: 60vh;
  }
}

@media screen and (max-width: 319px) {
  .popup__picture-image {
    max-width: 45vh;
    max-height: 45vh;
  }
}