.popup__picture-image {
  max-width: 75vh;
  max-height: 75vh;
  object-fit: contain;
}


@media screen and (max-width: 1020px) {
  .popup__picture-image {
    max-width: 60vh;
    max-height: 60vh;
  }
}

@media screen and (max-width: 790px) {
  .popup__picture-image {
    max-width: 50vh;
    max-height: 55vh;
  }
}

@media screen and (max-width: 660px) {
  .popup__picture-image {
    max-width: 40vh;
    max-height: 50vh;
  }
}

@media screen and (max-width: 400px) {
  .popup__picture-image {
    max-width: 35vh;
    max-height: 45vh;
  }
}

@media screen and (max-width: 350px) {
  .popup__picture-image {
    max-width: 40vh;
    max-height: 40vh;
  }
}