.header__logo { 
  width: 142px;
  height: 33px;
  padding-bottom: 40px;
}

@media screen and (max-width:882px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 103px;
    height: 24px;
    padding-bottom: 30px;
  }
}