.profile__add-button {
  cursor: pointer;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background: url(../../../images/profile__add-button-cross.svg) no-repeat;
  background-position: center;
  min-width: 150px;
  min-height: 50px;
} 

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .10s ease;
}

@media screen and (max-width: 750px) {
  .profile__add-button {
    min-width: 282px;
  }
}