.popup__close-button {
  background: url(../../../images/popup__close-icone.svg) no-repeat;
  background-position: center;
  min-width: 41px;
  min-height: 41px;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
  margin: 0;
  box-shadow: none;
  padding: 0;
  border: none;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .10s ease;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    top: -55px;
    right: -13px;
  }
}

