.popup__close-button {
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
  transition: opacity .10s ease;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    top: -55px;
    right: -13px;
  }
}