@import url(./__iteams/element__iteams.css);
@import url(./__image/element__image.css);
@import url(./__content/element_content.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
@import url(./__remove-btn/element__remove-btn.css);
@import url(./__like-active/element__like-active.css);
@import url(./__no-card-text/element__no-card-text.css);

.element {
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-width: 282px;
  max-height: 361px;
  margin: 0 auto;
}
